.trailer {
    background-color: #000;
    padding: 20px;
    text-align: center;

    &__text {
        line-height: 1.5;
        padding-top: 20px;
    }

    &__poster {
        display: flex;
        grid-template-columns: 1fr,1fr,1fr,1fr;
        gap: 20px;
        padding: 20px;
        justify-content: center;
        background-color: #000;

        img {
            width: 100%;
            max-width: 300px;
            transition: transform 0.5s ease;
        }

        .card:hover {
            transform: scale(0.9);
            cursor: pointer;
        }
    }

    &__video {
        width: 100%;
        max-width: 1220px;
        height: 630px;

    }

    @media (max-width: 768px) {
        &__poster {
            display: grid;
            grid-template-columns: repeat(2,1fr);

            &__video{
                width: 10px;
            }
        }
    }
    h2{
        font-family: avenir, sans-serif;
    }
}
